/*
* @Author: lenovo
* @Date:   2018-08-08 11:28:15
* @Last Modified by:   lenovo
* @Last Modified time: 2018-08-08 11:28:31
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}